<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>      
    </configSections>
    <!-- log4net -->
    <log4net>
      <appender name="FileAppender" type="log4net.Appender.FileAppender">
        <file value="..\Logs\Client.txt"/>
        <appendToFile value="true"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
        </layout>
      </appender>
      <root>
        <level value="DEBUG"/>
        <appender-ref ref="FileAppender"/>
      </root>
    </log4net>
    <!-- log4net ends -->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <Client.Properties.Settings>
            <setting name="A2OA_Path" serializeAs="String">
                <value/>
            </setting>
            <setting name="A3_Path" serializeAs="String">
                <value/>
            </setting>
            <setting name="A2_Path" serializeAs="String">
                <value/>
            </setting>
            <setting name="A2OABeta_Path" serializeAs="String">
                <value/>
            </setting>
            <setting name="Steam_Path" serializeAs="String">
                <value/>
            </setting>
            <setting name="A2OA_Addon_Path" serializeAs="String">
                <value/>
            </setting>
            <setting name="A3_Addon_Path" serializeAs="String">
                <value/>
            </setting>
            <setting name="A2_AddonPath" serializeAs="String">
                <value/>
            </setting>
        </Client.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Client.Properties.Settings>
            <setting name="RemoteServerManifest" serializeAs="String">
                <value>http://www.wogames.info/test_manifest.xml</value>
            </setting>
            <setting name="LocalFileCache" serializeAs="String">
                <value>Resources\FileCache.xml</value>
            </setting>
            <setting name="RetryAttempts" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LocalSettingsCache" serializeAs="String">
                <value>Resources\SettingsCache.xml</value>
            </setting>
            <setting name="RemoteAppManfest" serializeAs="String">
                <value>http://www.wogames.info/test_appmanifest.xml</value>
            </setting>
            <setting name="LocalAppManifest" serializeAs="String">
                <value>Resources\AppManifest.xml</value>
            </setting>
            <setting name="ApplicationUpdateClient" serializeAs="String">
                <value>Updater.exe</value>
            </setting>
        </Client.Properties.Settings>
    </applicationSettings>
</configuration>
