<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UpdateClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UpdateClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <UpdateClient.Properties.Settings>
            <setting name="A2_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="A3_Path" serializeAs="String">
                <value />
            </setting>
        </UpdateClient.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <UpdateClient.Properties.Settings>
            <setting name="ServerManifest" serializeAs="String">
                <value>ftp://wogames.info/manifest.xml</value>
            </setting>
            <setting name="FileCache" serializeAs="String">
                <value>Resources\FileCache.xml</value>
            </setting>
            <setting name="RetryAttempts" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SettingsCache" serializeAs="String">
                <value>Resources\SettingsCache.xml</value>
            </setting>
            <setting name="RemoteAppManfest" serializeAs="String">
                <value>ftp://arma2.wogames.info/appmanifest.xml</value>
            </setting>
            <setting name="LocalAppManifest" serializeAs="String">
                <value>Resources\AppManifest.xml</value>
            </setting>
            <setting name="ApplicationUpdateClient" serializeAs="String">
                <value>ApplicationUpdate.exe</value>
            </setting>
        </UpdateClient.Properties.Settings>
    </applicationSettings>
</configuration>
