<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ApplicationUpdate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <applicationSettings>
        <ApplicationUpdate.Properties.Settings>
            <setting name="RemoteManifest" serializeAs="String">
                <value>ftp://arma2.wogames.info/appmanifest.xml</value>
            </setting>
            <setting name="LocalManifest" serializeAs="String">
                <value>Resources\AppManifest.xml</value>
            </setting>
            <setting name="ApplicationPath" serializeAs="String">
                <value>UpdateClient.exe</value>
            </setting>
        </ApplicationUpdate.Properties.Settings>
    </applicationSettings>
</configuration>
